<a href="https://colab.research.google.com/github/harshith0298/PYTHON-LAB/blob/main/20221BCA0298.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
L = [1, 2, 3]
it = iter(L)
it

In [ ]:
next(it)

In [ ]:
it.__next__()

In [ ]:
next(it)

In [ ]:
bafor i in iter(L):
  print(i)

In [ ]:
for i in L:
  print(i)

In [ ]:
L = [1, 2, 3]
iterator = iter(L)
t = tuple(iterator)
t

In [ ]:
L = [1, 2, 3]
iterator = iter(L)
t = tuple(iterator)
t

In [ ]:
m = {'Jan': 1, 'Feb': 2, 'Mar': 3, 'Apr': 4, 'May': 5, 'Jun': 6, 'Jul': 7, 'Aug': 8, 'Sep': 9, 'Oct': 10, 'Nov': 11, 'Dec': 12}
for key in m:
  print(key, m[key])

In [ ]:
l=[1,2,3]
[2*i for i in l]

In [ ]:
l=[1,2,3]
for i in l:
  x=2*i
  print(x)

In [ ]:
[2*i for i in l]

In [ ]:
L = [('Italy', 'Rome'), ('France', 'Paris'), ('US', 'Washington DC')]
dict(iter(L))

In [ ]:
# List comprehension -- returns list
stripped_list = [line.strip() for line in line_list]
print(stripped_list)

In [ ]:
#You can select only certain elements by adding an "if" condition:
stripped_list = [line.strip() for line in line_list]
print(stripped_list

In [ ]:
seq1 = 'abc'
seq2 = (1, 2, 3)
[(x, y) for x in seq1 for y in seq2]

In [ ]:
def generate_ints(N):
  for i in range(N):
    yield i


gen=generate_ints(8)
next(gen)

In [ ]:
next(gen)

In [2]:
send(5)

NameError: ignored

In [3]:
next(gen)

NameError: ignored

In [ ]:
def counter(maximum):
    i = 0
    while i < maximum:
        val = (yield i)
        # If value provided, change counter
        if val is not None:
            i = val
        else:
            i += 1



it = counter(10)
next(it)

In [4]:
next(it)

1

In [ ]:
next(it)

In [ ]:
next(it)

In [ ]:
it.send(8)

In [ ]:
next(it

In [ ]:
it.send(8)

In [ ]:
def upper(s):
  return s.upper()

list(map(upper, ['sentence', 'fragment']))

In [ ]:
[upper(s) for s in ['sentence', 'fragment']]

In [5]:
def is_even(x):
  return (x % 2) == 0
list(filter(is_even, range(10)))

[0, 2, 4, 6, 8]

In [ ]:
#List Comprehension
list(x for x in range(10) if is_even(x))

In [ ]:
for item in enumerate(['A', 'B', 'C']):
  print(item)

In [ ]:
import random
# Generate 8 random numbers between [0, 10000)
rand_list = random.sample(range(10000), 8)
rand_list

In [ ]:
sorted(rand_list, reverse=True)

In [ ]:
any([0, 1, 0])

In [ ]:
all([0, 1, 0]

In [ ]:
zip(['a','b','c'], (1, 2, 3)

In [6]:
zip(['a', 'b'], (1, 2, 3))

In [ ]:
from itertools import count

for number in count(start=1, step=2):
	if number > 10:
		break
	print(number) # print statement

In [ ]:
from itertools import count

for number in count(start=1, step=2):
	if number > 10:
		break
	print(number) # print statement

In [ ]:
# Python program to demonstrate
# infinite iterators

import itertools

count = 0

# for in loop
for i in itertools.cycle('AB'):
	if count > 7:
		break
	else:
		print(i, end=" ")
		count += 1

In [ ]:
#Using the next function
# Python program to demonstrate
# infinite iterators

import itertools

l = ['CSE', 'COM', 'ECM']

# defining iterator
iterators = itertools.cycle(l)

# for in loop
for i in range(6):

	# Using next function
	print(next(iterators), end=" ")

In [ ]:
#repeat(val, num):
# Python code to demonstrate the working of
# repeat()

# importing "itertools" for iterator operations
import itertools

# using repeat() to repeatedly print number
print("Printing the numbers repeatedly : ")
print(list(itertools.repeat(25, 4)))

In [ ]:
# import the product function from itertools module
from itertools import product

print("The cartesian product using repeat:")
print(list(product([1, 2], repeat=2)))
print()

print("The cartesian product of the containers:")
print(list(product(['COM', 'CSE', 'ECM'], '2')))
print()

print("The cartesian product of the containers:")
print(list(product('AB', [3, 4])))

In [ ]:
# import the product function from itertools module
from itertools import permutations

print("All the permutations of the given list is:")
print(list(permutations([1, 'Computer'], 2)))
print()

print("All the permutations of the given string is:")
print(list(permutations('AB')))
print()

print("All the permutations of the given container is:")
print(list(permutations(range(3), 2)))

In [ ]:
# import combinations from itertools module

from itertools import combinations

print ("All the combination of list in sorted order(without replacement) is:")
print(list(combinations(['A', 2], 2)))
print()

print ("All the combination of string in sorted order(without replacement) is:")
print(list(combinations('AB', 2)))
print()

print ("All the combination of list in sorted order(without replacement) is:")
print(list(combinations(range(2), 1)))

In [ ]:
# import combinations from itertools module

from itertools import combinations_with_replacement

print("All the combination of string in sorted order(with replacement) is:")
print(list(combinations_with_replacement("AB", 2)))
print()

print("All the combination of list in sorted order(with replacement) is:")
print(list(combinations_with_replacement([1, 2], 2)))
print()

print("All the combination of container in sorted order(with replacement) is:")
print(list(combinations_with_replacement(range(2), 1)))

In [7]:
# Python code to demonstrate the working of
# accumulate()


import itertools
import operator

# initializing list 1
li1 = [1, 4, 5, 7]

# using accumulate()
# prints the successive summation of elements
print("The sum after each iteration is : ", end="")
print(list(itertools.accumulate(li1)))

# using accumulate()
# prints the successive multiplication of elements
print("The product after each iteration is : ", end="")
print(list(itertools.accumulate(li1, operator.mul)))

# using accumulate()
# prints the successive summation of elements
print("The sum after each iteration is : ", end="")
print(list(itertools.accumulate(li1)))

# using accumulate()
# prints the successive multiplication of elements
print("The product after each iteration is : ", end="")
print(list(itertools.accumulate(li1, operator.mul)))

The sum after each iteration is : [1, 5, 10, 17]
The product after each iteration is : [1, 4, 20, 140]
The sum after each iteration is : [1, 5, 10, 17]
The product after each iteration is : [1, 4, 20, 140]

In [ ]:
# Python code to demonstrate the working of
# and chain()


import itertools

# initializing list 1
li1 = [1, 4, 5, 7]

# initializing list 2
li2 = [1, 6, 5, 9]

# initializing list 3
li3 = [8, 10, 5, 4]

# using chain() to print all elements of lists
print("All values in mentioned chain are : ", end="")
print(list(itertools.chain(li1, li2, li3)))

In [ ]:
# Python code to demonstrate the working of
# chain.from_iterable()


import itertools


# initializing list 1
li1 = [1, 4, 5, 7]

# initializing list 2
li2 = [1, 6, 5, 9]

# initializing list 3
li3 = [8, 10, 5, 4]

# initializing list of list
li4 = [li1, li2, li3]

# using chain.from_iterable() to print all elements of lists
print ("All values in mentioned chain are : ", end ="")
print (list(itertools.chain.from_iterable(li4)))

In [ ]:
# Python code to demonstrate the working of
# and compress()


import itertools


# using compress() selectively print data values
print("The compressed values in string are : ", end="")
print(list(itertools.compress('GEEKSFORGEEKS', [
	1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0])))

In [8]:
# Python code to demonstrate the working of
# dropwhile()


import itertools


# initializing list
li = [2, 4, 5, 7, 8]

# using dropwhile() to start displaying after condition is false
print ("The values after condition returns false : ", end ="")
print (list(itertools.dropwhile(lambda x : x % 2 == 0, li)))

The values after condition returns false : [5, 7, 8]

In [ ]:
# Python code to demonstrate the working of
# dropwhile()


import itertools


# initializing list
li = [2, 4, 5, 7, 8]

# using dropwhile() to start displaying after condition is false
print ("The values after condition returns false : ", end ="")
print (list(itertools.dropwhile(lambda x : x % 2 == 0, li)))

In [9]:
# Python code to demonstrate the working of
# filterfalse()


import itertools

# initializing list
li = [2, 4, 5, 7, 8]

# using filterfalse() to print false values
print ("The values that return false to function are : ", end ="")
print (list(itertools.filterfalse(lambda x : x % 2 == 0, li)))

The values that return false to function are : [5, 7]

In [ ]:
# Python code to demonstrate the working of
# islice()


import itertools

# initializing list
li = [2, 4, 5, 7, 8, 10, 20]

# using islice() to slice the list acc. to need
# starts printing from 2nd index till 6th skipping 2
print ("The sliced list values are : ", end ="")
print (list(itertools.islice(li, 1, 6, 2)))

In [ ]:
# Python code to demonstrate the working of
# starmap()


import itertools


# initializing tuple list
li = [ (1, 10, 5), (8, 4, 1), (5, 4, 9), (11, 10, 1) ]

# using starmap() for selection value acc. to function
# selects min of all tuple values
print ("The values acc. to function are : ", end ="")
print (list(itertools.starmap(min, li)))

In [ ]:
# Python code to demonstrate the working of
# takewhile()


import itertools

# initializing list
li = [2, 4, 6, 7, 8, 10, 20]

# using takewhile() to print values till condition is false.
print ("The list values till 1st false value are : ", end ="")
print (list(itertools.takewhile(lambda x : x % 2 == 0, li )))

In [11]:
# Python code to demonstrate the working of
# zip_longest()


import itertools

# using zip_longest() to combine two iterables.
print("The combined values of iterables is : ")
print(*(itertools.zip_longest('Peiec', 'rsdny', fillvalue='_')))

The combined values of iterables is :
('P', 'r') ('e', 's') ('i', 'd') ('e', 'n') ('c', 'y')